<div class="map" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')">
</div>
<div class="container">
  <div class="card mt-3 p-3">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
    <br>
  </div>
</div>
<div class="container mb-10">
  <div class="card mt-3 p-3">
    <h3>A bit more about this flat...</h3>
    <p><%= @flat.description %></p>
    <br>
    <p>$<%= @flat.price_per_night %></p>
    <p><i class="fas fa-users"></i> <%= @flat.number_of_guests %></p>
  </div>
  <%= link_to 'Home', flats_path %>
</div>
